<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.saurabh.java.datastructure">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:name=".DataStructureApplication"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        android:fullBackupContent="@xml/backup_descriptor">
        <activity
            android:name=".ui.activities.Homepage"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--suppress AndroidDomInspection -->
        <activity
            android:name="com.saurabh.java.datastructure.ui.activities.QuestionCardActivity"
            android:label="@string/question_card_title"
            android:theme="@style/QuestionCardTheme"/>
        <provider
            android:name="androidx.work.impl.WorkManagerInitializer"
            android:authorities="${applicationId}.workmanager-init"
            android:enabled="false"
            android:exported="false"
            tools:replace="android:authorities" />
    </application>

</manifest>